<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>detail</title>
</head>
<body>
{{> /include/header }}

{{#item}}
<div class="merIntro">
    <div class="merImgDetail">
        <img src={{{img}}} style="width: 100%; max-width: 300px; vertical-align: top;">
    </div>
    <div class="merInfoDetail">
        상품명: {{name}}<br>
        설명: {{detail}}<br>
        가격: {{price}}<br>

        <br>
        <form action="/buy/{{id}}" method="GET">
            칼라:
            <select name="color">
                <option value="">칼라선택</option>
                {{#colorList}}
                <option value="{{{.}}}">{{.}}</option>
                {{/colorList}}
            </select>
            <br>
            사이즈:
            <select name="size">
                <option value="">사이즈선택</option>
                {{#sizeList}}
                <option value="{{{.}}}">{{.}}</option>
                {{/sizeList}}
            </select>
            <br>
            {{#buyResult}}
                {{buyResult}}
            {{/buyResult}}
            <br>
            <input type="submit" value="구매 하기">
        </form>
        <form action="/putCart/{{id}}" method="GET">
            <input type="submit" value="카트에 담기">
        </form>
    </div>
    <div class="merLongDetail">
        이 제품은 짱좋아요
    </div>
    <div class="review">
        리뷰가 들어갈거에요
    </div>
</div>

{{/item}}
</body>
</html>