<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminIndex</title>
</head>
<body>
    <a href="/admin/">메인으로 돌아가기</a>

    <div>관리자 페이지 입니다. 업무를 선택하세요</div>
    <a>
        <a href="/admin/addItem"><li>새로운 물품 추가</li></a>
        <a href="/admin/category"><li>카테고리 관리</li></a>
        <a href="/admin/delivery"><li>배송관리</li></a>
        <a href="/admin/amount"><li>재고관리</li></a>
        <li>영업관리</li>
        <li>회원관리</li>
        <li>다른 관리자 관리</li>
    </ul>

</body>
</html>