<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- header section start -->
<header class="pages-header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="left-header clearfix">
                        <ul>
                            <li><p><i class="pe-7s-call"></i>010-2290-7387</p></li>
                            <li><p><i class="pe-7s-clock"></i>Mon-fri : 9:00-19:00</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="right-header">
                        <ul>
                            <li><i class="pe-7s-searchCriteria"></i>
                                <form method="get" id="searchform" action="#">
                                    <input type="text" value="" name="s" id="ws" placeholder="Search product..." />
                                    <button type="submit"><i class="pe-7s-searchCriteria"></i></button>
                                </form>
                            </li>
                            <li><a href="#"><i class="fa fa-user"></i></a>
                                <ul class="drop-setting">
                                    {{^isLogin}}
                                    <li><a href="/login"><i class="fa fa-lock"></i>Login</a></li>
                                    {{/isLogin}}
                                    {{#isLogin}}
                                    <li><a href="/loginBeforeModify"><i class="fa fa-cog" aria-hidden="true"></i></i>My account</a></li>
                                    <li><a href="/cart"><i class="fa fa-shopping-cart"></i>My cart</a></li>
                                    <li><a href="/logout"><i class="fa fa-unlock"></i>Log-out</a></li>
                                    {{/isLogin}}
                                </ul>
                            </li>
                            {{#isLogin}}
                            <li><a href="/myCart/{{id}}"><i class="pe-7s-cart"></i><span class="color1">{{cartCount}}</span></a>
                                <ul class="drop-cart">
                                    {{^cartList}}
                                    <div class="goto text-center">
                                    카트가 비어있습니다.
                                    </div>
                                    {{/cartList}}
                                    {{#cartList}}
                                    <li>
                                        <a href="/detail/{{id}}"><img src="img/cart/1.png" alt="" /></a>
                                        <div class="add-cart-text">
                                            <p><a href="/detail/{{id}}">{{name}}</a></p>
                                            <p><i class="fa fa-krw" aria-hidden="true"></i> {{price}}</p>
                                        </div>
                                    </li>
                                    {{/cartList}}
                                    <li>
                                        <div class="goto text-center">
                                            <a href="/myCart/{{id}}"><strong>go to cart &nbsp;<i class="pe-7s-angle-right"></i></strong></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            {{/isLogin}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom" id="sticky-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <div class="logo">
                        <a href="/"><img src="img/logo2.png" alt="Crazy Fashion" /></a>
                    </div>
                </div>
                <div class="col-sm-10 col-md-10">
                    <div class="mainmenu clearfix">
                        <nav>
                            <ul>
                                {{#category}}
                                <li><a href="/search?category={{{part}}}">{{part}}</a></li>
                                {{/category}}
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu-area">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    {{#category}}
                                    <li><a href="/search?category={{{part}}}">{{part}}</a></li>
                                    {{/category}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>