<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Title</title>
</head>
<body>
{{> /include/header }}
{{#modifyUser}}
<form action="/modify/{{id}}" method="post">
    아이디:<input type="text" name="userId" value="{{{userId}}}"> <br><br>
    비밀번호:<input type="password" name="password"><br><br>
    이름:<input type="text" name = "name" value="{{{name}}}"><br><br>
    이메일:<input type="email" name="email" value="{{{email}}}">	<br><br>
    <input type="submit" value="확인">
</form>
{{/modifyUser}}
</body>
</html>