<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>myCart</title>
</head>
<body>
{{> /include/header }}

<div class="merList">
    {{^carts}}
        카트에 넣으신 품목이 없습니다.
    {{/carts}}
    {{#carts}}
    <div class="merAttribute">
        <div class="merImg">
            <a href="/detail/{{id}}"> <img src={{{img}}} style="width: 100%; max-width: 300px; vertical-align: top;"></a>
        </div>
        <div class="merInfo">
            {{name}}<br>
            {{detail}}<br>
            {{price}}<br>
        </div>
    </div>
    {{/carts}}
</div>

</body>
</html>