.header{
    text-align: right;
    margin-right: 20px;
    border: solid;
    width:100%;
}

.logo{
    width: 100%;
    height: 200px;
    line-height: 100px;
    text-align: left;
    border: solid;
}
.nav{
    width:100%;
    height: 80px;
    border: solid;
}
.nav_list{
    width: 100%;
    border: 1px solid red;
}

.main_nav_attrubute{
    display: inline;
    float: left;
    text-align: center;
    margin: 15px;
    border: solid;
}

.merList{
    border:solid;
    float:left;
    width:100%;
}

.merAttribute{
    float: left;
    border:solid;
    width: 20%;
}

.merIntro{
    border: solid;
    text-align: center;
    width: 100%;
    height: 500px;
}

.merImgDetail{
    float: left;
    border:solid;
    margin: 50px;
    width: 50%;
    max-width: 300px;
}

.merInfoDetail{
    float: right;
    border:solid;
    margin:50px;
    width:50%;
    height: 450px;
}

.merLongDetail{
    width: 100%;
    border: solid;
    height: 2000px;
    float: left;
}
.review{
    width: 100%;
    border: solid;
    float: left;
}

.review_text{
    height: 20px;
    width: 70%;
    float: left;
}

.review_radio{
    height: 20px;
    width: 20%;
    float: left;
}

tr, table{
    width:100%;
    margin: 0px;
    padding: 0px;
}

.table_writer{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 10%;
}
.table_content{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 70%;
}
.table_score{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 10%;
}