<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>index</title>
</head>
<body>
    {{> /include/header }}

    <div class="slide">

    </div>

    <div class="merList">
        {{#item}}
        <div class="merAttribute">
            <div class="merImg">
                <a href="/detail/{{id}}"> <img src={{{img}}} style="width: 100%; max-width: 300px; vertical-align: top;"></a>
            </div>
            <div class="merInfo">
                <a href="/detail/{{id}}">{{name}}</a><br>
                {{detail}}<br>
                {{price}}<br>
            </div>
        </div>
        {{/item}}

        {{#categoryItem}}
        <div class="merAttribute">
            <div class="merImg">
                <a href="/detail/{{id}}"> <img src={{{img}}} style="width: 100%; max-width: 300px; vertical-align: top;"></a>
            </div>
            <div class="merInfo">
                <a href="/detail/{{id}}">{{name}}</a><br>
                {{detail}}<br>
                {{price}}<br>
            </div>
        </div>
        {{/categoryItem}}
    </div>
</body>
</html>